<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>View Data</title>
</head>
<body>
    <div class="container">
    <table class="table">
        <thead>
            <tr>
              <th scope="col">MSHV</th>
              <th scope="col">Lý do</th>
              <th scope="col">Thời gian</th>
              <th scope="col">Họ và tên</th>
              <th scope="col">Email</th>
              <th scope="col">Giới tính</th>
            </tr>
          </thead>
          <tbody>
        <% data.forEach(function(e) { %>
            <tr>
              <td><%= e.data().mshv %></td>
              <td><%= e.data().reason %></td>
              <td><%= e.data().time %></td>
              <td><%= e.data().studentData.ho %> <%= e.data().studentData.ten %></td>
              <td><%= e.data().studentData.email %></td>
              <td><%- e.data().studentData.gioitinh == 1 ? 'Nam' : 'Nữ' ; %></td>
            </tr>
          <% }); %>
        </tbody>
    </table>
    </div>
</body>
</html>